# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

# Ignore GGUF model files
*.gguf

# SQLite
*.db
*.sqlite3

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

#SQL
*.sql


